server {
    listen 80;
    server_name {{ prometheus_blackbox_exporter_hostname }};

    location / {
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_pass http://127.0.0.1:9115;
    }
}

server {
    listen 443 ssl;
    server_name {{ prometheus_blackbox_exporter_hostname }};

    ssl_certificate /etc/letsencrypt/live/{{ prometheus_blackbox_exporter_hostname }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ prometheus_blackbox_exporter_hostname }}/privkey.pem;

    location / {
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_pass http://127.0.0.1:9115;
    }
}

server {
    listen 80;
    server_name {{ prometheus_alertmanager_hostname }};

    location / {
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_pass http://127.0.0.1:9093;
    }
}

server {
    listen 443 ssl;
    server_name {{ prometheus_alertmanager_hostname }};

    ssl_certificate /etc/letsencrypt/live/{{ prometheus_alertmanager_hostname }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ prometheus_alertmanager_hostname }}/privkey.pem;

    location / {
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_pass http://127.0.0.1:9093;
    }

}
server {
    listen 80;
    server_name {{ prometheus_hostname }};

    location / {
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_pass http://127.0.0.1:9090;
    }
}

server {
    listen 443 ssl;
    server_name {{ prometheus_hostname }};

    ssl_certificate /etc/letsencrypt/live/{{ prometheus_hostname }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ prometheus_hostname }}/privkey.pem;

    location / {
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_pass http://127.0.0.1:9090;
    }
}

server {
    listen 80;
    server_name {{ grafana_hostname }};

    location / {
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_pass http://127.0.0.1:3000;
    }
}

server {
    listen 443 ssl;
    server_name {{ grafana_hostname }};

    ssl_certificate /etc/letsencrypt/live/{{ grafana_hostname }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ grafana_hostname }}/privkey.pem;

    location / {
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_pass http://127.0.0.1:3000;
    }
}
