user-manual /usr/share/doc/privoxy/user-manual
admin-address admin@example.com
confdir /etc/privoxy
logdir /var/log/privoxy
actionsfile match-all.action
actionsfile default.action
filterfile default.filter
logfile logfile
# 1 + 1024 + 4096 + 8192
debug     13313
#single-threaded 1
hostname securedrop.monitoring
listen-address  127.0.0.1:8118
#listen-address  [::1]:8118
toggle  0
enable-remote-toggle  0
enable-remote-http-toggle  0
enable-edit-actions 0
enforce-blocks 0
permit-access  localhost
buffer-limit 8192
enable-proxy-authentication-forwarding 0
forward-socks5 / 127.0.0.1:9050 .
forward-socks5t / 127.0.0.1:9050 .
forward           127.*.*.*/     .
forward           localhost/     .
forwarded-connect-retries  0
accept-intercepted-requests 0
allow-cgi-request-crunching 0
split-large-forms 0
keep-alive-timeout 5
tolerate-pipelining 1
#default-server-timeout 60
#connection-sharing 1
socket-timeout 300
#max-client-connections 256
#handle-as-empty-doc-returns-ok 1
#enable-compression 1
#compression-level 1
#activity-animation   1
log-messages   1
#log-buffer-size 1
log-max-lines 65535
