global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
      monitor: 'zcash'

rule_files:
  - rules/*.rules
  - alerts/*.alerts

scrape_configs:
  - job_name: 'zcash'
    static_configs:
      - targets:
        - mainnet.z.cash
{% for detector in groups['detectors'] %}
        - {{ hostvars[detector].inventory_hostname | string }}
{% endfor %}
    relabel_configs:
      - replacement: ${1}:9000
        source_labels: [__address__]
        target_label: __address__

  - job_name: 'nodes'
    metrics_path: /metrics
    static_configs:
      - targets:
{% for host in groups['logclients'] %}
        - {{ hostvars[host].inventory_hostname | string }}
{% endfor %}
{% for detector in groups['detectors'] %}
        - {{ hostvars[detector].inventory_hostname | string }}
{% endfor %}
    relabel_configs:
      - replacement: ${1}:9100
        source_labels: [__address__]
        target_label: __address__

  - job_name: 'mtail'
    metrics_path: /metrics
    static_configs:
      - targets:
{% for host in groups['logclients'] %}
        - {{ hostvars[host].inventory_hostname | string }}
{% endfor %}
{% for detector in groups['detectors'] %}
        - {{ hostvars[detector].inventory_hostname | string }}
{% endfor %}
    relabel_configs:
      - replacement: ${1}:3903
        source_labels: [__address__]
        target_label: __address__
