global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: 30s
  scrape_timeout: {{ prometheus_scrape_timeout }}
  external_labels:
      monitor: 'securedrop'

rule_files:
  - alerts/*.alerts

scrape_configs:
  - job_name: 'securedrop'
    metrics_path: /probe
    params:
      module: [http_2xx]
      proxy_url: ['127.0.0.1:8118']
      debug: true
    static_configs:
      - targets: ['zdf4nikyuswdzbt6.onion']
        labels:
          instance: 'Apache'
      - targets: ['3expgpdnrrzezf7r.onion']
        labels:
          instance: 'Associated Press'
      - targets: ['m4hynbhhctdk27jr.onion']
        labels:
          instance: 'Bloomberg News'
      - targets: ['ftugftwajmgsmoau.onion']
        labels:
          instance: 'Buzzfeed'
      - targets: ['ad2ztmbv5vmbj7ic.onion']
        labels:
          instance: 'CBC'
      - targets: ['v2d6nf2nsvvbgaqe.onion']
        labels:
          instance: 'CPI'
      - targets: ['2x2hb5ykeu4qlxqe.onion']
        labels:
          instance: 'CPJ'
      - targets: ['mz33367mcdrcdi7s.onion']
        labels:
          instance: 'Dagbladet'
      - targets: ['lijbt6ju7m6opkzb.onion']
        labels:
          instance: 'Espen Andersen'
      - targets: ['znig4bc5rlwyj4mz.onion']
        labels:
          instance: 'ExposeFacts'
      - targets: ['fje2vboa55bbxjpm.onion']
        labels:
          instance: 'Forbes'
      - targets: ['gmg7jl25ony5g7ws.onion']
        labels:
          instance: 'Gizmodo Media Group'
      - targets: ['n572ltkg4nld3bsz.onion']
        labels:
          instance: 'The Globe and Mail'
      - targets: ['ll6edwtpfl3zdwoi.onion']
        labels:
          instance: 'Greenpeace New Zealand'
      - targets: ['33y6fjyhs3phzfjj.onion']
        labels:
          instance: 'The Guardian'
      - targets: ['rbugf2rz5lmjbfun.onion']
        labels:
          instance: 'HuffPost'
      - targets: ['intrcept32ncblef.onion']
        labels:
          instance: 'The Intercept'
      - targets: ['qn4qfeeslglmwxgb.onion']
        labels:
          instance: 'Lucy Parsons Labs'
      - targets: ['g4wmrmqxpj5bnvml.onion']
        labels:
          instance: 'Morgenbladet'
      - targets: ['axcdo2zaeyrpdc6z.onion']
        labels:
          instance: 'New Internationalist'
      - targets: ['nyttips4bmquxfzw.onion']
        labels:
          instance: 'The New York Times'
      - targets: ['nrkvarslekidu2uz.onion']
        labels:
          instance: 'NRK'
      - targets: ['dqeasamlf3jld2kz.onion']
        labels:
          instance: 'POGO'
      - targets: ['pubdrop4dw6rk3aq.onion']
        labels:
          instance: 'ProPublica'
      - targets: ['arujlhu2zjjhc3bw.onion']
        labels:
          instance: 'Public Intelligence'
      - targets: ['hpjw636qnt5avq62.onion']
        labels:
          instance: 'Radio24syv'
      - targets: ['w5jfqhep2jbypkek.onion']
        labels:
          instance: 'Radio-Canada'
      - targets: ['nrwvazcz6figxpg5.onion']
        labels:
          instance: 'San Francisco Chronicle'
      - targets: ['mqddpn6yt4f5uqei.onion']
        labels:
          instance: 'Barton Gellman'
      - targets: ['vbmwh445kf3fs2v4.onion']
        labels:
          instance: 'The Washington Post'
      - targets: ['usatodayw7vu5egc.onion']
        labels:
          instance: 'USA TODAY'
      - targets: ['e3v3x57ykz25uvij.onion']
        labels:
          instance: 'VICE Media'
      - targets: ['2cq26ys7wjhryrzw.onion']
        labels:
          instance: 'Vox.com'
      - targets: ['2xat73hlwcpwo2zy.onion']
        labels:
          instance: 'The Verge'
      - targets: ['poulsensqiv6ocq4.onion']
        labels:
          instance: 'Kevin Poulsen'

    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: address
      - target_label: __address__
        replacement: {{ prometheus_blackbox_exporter_url }}